<div layout="row">
    <div layout="column">
        <md-card>
            <youtube-video video-id="video.id" player="ytPlayer" player-vars="playerVars" player-width="'853px'"
                           player-height="'480px'"></youtube-video>
        </md-card>
        <md-card>
            <md-card-header>
                <md-card-header-text class="md-title">{{ video.title }}</md-card-header-text>
            </md-card-header>
            <md-card-footer layout="column">
                <div layout="column" layout-align="center start">
                    <!--TODO: lotsa hardcoded styles-->
                    <span style="padding-bottom: 5px;">{{ video.views | number}} views</span>
                    <div style="width: 20%;" ng-show="video.likePercent">
                        <md-progress-linear md-mode="determinate" value="{{ video.likePercent }}"/>
                    </div>
                    <span class="md-caption" style="padding-top: 5px;">
                        <md-icon md-font-set="md">thumb_up</md-icon> {{ video.likes}}
                        <md-icon md-font-set="md">thumb_down</md-icon> {{ video.dislikes}}
                    </span>
                </div>
            </md-card-footer>
        </md-card>
    </div>
    <div layout="column">
        <md-card ng-repeat="post in playlist" layout="row" class="pl_item">
            <div class="video_tn">
                <a href="#/view/{{ post.id }}"><img width="120px" ng-src="{{ post.img }}"></a>
                <span class="duration md-caption">{{ post.duration }}</span>
            </div>
            <!--TODO Hardcoded style-->
            <md-card-content style="padding: 0px 5px 0px 5px">
                <a href="#/view/{{ post.id }}" class="md-body-1">
                    <div class="v_link">{{ post.heading }}</div>
                </a>
                <div class="md-caption">{{ post.views | number}} views</div>
                <div class="md-caption">{{ post.date | date}}</div>
            </md-card-content>
        </md-card>
    </div>
</div>