<div layout="row">
    <div layout="column">
        <md-card>
            <youtube-video video-id="video.id" player="ytPlayer" player-vars="playerVars" player-width="'853px'"
                           player-height="'480px'"></youtube-video>
        </md-card>
        <md-card>
            <md-card-header>
                <md-card-header-text class="md-title">{{ video.title }}</md-card-header-text>
            </md-card-header>
            <!--<md-card-footer><span class="md-caption">{{ video.likes}} : {{ video.dislikes }}</span></md-card-footer>-->
            <md-card-footer layout="column">
                <div flex layout="row" layout-align="start center">
                    <span class="">{{ video.views | number}} views</span>
                    <div flex layout-align="end center" >
                        <md-progress-linear md-mode="determinate" value="{{ video.likePercent }}"/>
                    </div>
                </div>
            </md-card-footer>
        </md-card>
    </div>
    <div layout="column">
        <md-card ng-repeat="post in playlist" layout="row" class="pl_item">
            <a href="#/view/{{ post.id }}"><img width="120px" ng-src="{{ post.img }}"></a>
            <!--TODO Hardcoded style-->
            <md-card-content style="padding: 0px 5px 0px 5px">
                <a href="#/view/{{ post.id }}" class="md-body-1">
                    <div class="v_link">{{ post.heading }}</div>
                </a>
                <div class="md-caption">{{ post.views | number}} views</div>
                <div class="md-caption">{{ post.date | date}}</div>
            </md-card-content>
        </md-card>
    </div>
</div>