<html ng-app="vidapp">
<head>
    <!-- Styles-->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Javascript (lib) -->
    <script src="js/angular.js"></script>
    <script src="js/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

    <!-- Javascript (app) -->
    <script src="app.js"></script>
    <script src="home/home.js"></script>
    <script src="view/view.js"></script>

    <title>{{ siteName }}</title>
</head>
<body>
<md-toolbar md-scroll-shrink="true">
    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
        <md-button class="md-warn md-raised" ng-click="showPrerenderedDialog($event)" ng-hide="profile">
            Sign In
        </md-button>
        <md-button class="md-fab md-warn md-hue-2" ng-click="showPrerenderedDialog($event)" ng-show="profile">
            {{ profile.name | limitTo:1 | uppercase }}
        </md-button>
    </section>
</md-toolbar>
<div flex layout="row">
    <md-sidenav md-is-locked-open="true" class="md-whiteframe-z1">
        <md-toolbar class="md-theme-indigo">
            <h1 class="md-toolbar-tools">Sidenav Left</h1>
        </md-toolbar>
        <md-content layout-padding="">
            <ul>
                <li ng-repeat="nav in navItems"><a href="{{ nav.href}}">{{nav.title}}</a></li>
            </ul>
        </md-content>
    </md-sidenav>
    <div class="content" ng-view></div>
</div>
<div ng-include src="'signup/signup.html'"></div>
</body>
</html>