<html ng-app="vidapp">
<head>
    <!-- Styles-->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="style.css" rel="stylesheet">

    <!-- Javascript (lib) -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
    <script src="https://www.youtube.com/iframe_api"></script>
    <script src="../ajax/libs/angular-youtube-embed/angular-youtube-embed.min.js"></script>

    <!-- Javascript (app) -->
    <script src="app.js"></script>
    <script src="home/home.js"></script>
    <script src="view/view.js"></script>

    <title>{{ siteName }}</title>
</head>
<body>
<md-toolbar md-scroll-shrink="true">
    <div layout="row" layout-align="start center">
        <a href="#/home"><img height="50px"
                              src="https://developers.google.com/youtube/images/YouTube-icon-full_color.png"/></a>
        <div flex layout-align="end center">
            <md-button class="md-warn md-raised right-caption" ng-click="showSigninDialog($event)" ng-hide="profile">
                Sign In
            </md-button>
            <md-button class="md-fab md-warn md-hue-2 right-caption" ng-click="showSigninDialog($event)"
                       ng-show="profile">
                {{ profile.name | limitTo:1 | uppercase }}
            </md-button>
        </div>
    </div>
</md-toolbar>
<div flex layout="row">
    <md-sidenav md-is-locked-open="true" class="md-whiteframe-z1">
        <md-toolbar class="md-theme-indigo">
        </md-toolbar>
        <section layout="column" layout-align="start stretch" layout-wrap>
            <md-button ng-repeat="nav in navItems" ng-href="{{ nav.href }}" class="nav_item">{{nav.title}}</md-button>
        </section>
    </md-sidenav>
    <div ng-view></div>
</div>
<div ng-include src="'signup/signup.html'"></div>
</body>
</html>