.v_link {
    line-height: 1.5em;
    height: 3em;
    overflow: hidden;
    font-weight: bold;
}

.right-caption {
    float: right;
}

a {
    text-decoration: none;
}

.pl_item {
    margin-bottom: 0px;
}

.video_tn {
    position: relative;
}

.duration {
    position: absolute;
    right: 2px;
    bottom: 2px;
    background: #000000;
    color: #ffffff;
    opacity: 0.75;
    padding: 2px;
}